@import 'nib/vendor'
@import 'nib/gradients'

vendor-prefixes = o ms moz webkit official

/**********************
******=responsive*****
**********************/

@media (min-width: 1120px){

    .categoria article.mid{
        height: 360px;
    }

    article.mid.row.categoria-nota img{
        width: 270px !important;
    }
    
    .galeria.mid{
        height: 300px;
    }

}

@media (min-width: 980px) and (max-width: 1199px) {
    
    header.doodle .container{
        height: 455px;
    }

    header.doodle .container h1 .logo{
        width: 970px;
        height: 274px;
    }
    
    header.doodle .container .sepheader{
        top: 310px;
    }
    
    .galeria.mid{
        height: 290px;
    }

    .menu{
        width:auto;
        display: inline-block;
        float: left;
    }

    .menu>li{
        font-size: 17px !important;
        padding: 7px 13px !important;
    }

    .form-search.col-md-3{
        width:177px !important;
    }
    article.small img{
        margin-right: 15px !important;
    }

    .categoria article.mid{
        height: 350px;
    }

    footer .event .info>p{
        font-size: 10px;
        line-height: 16px;
    }

    .social{
        margin-top: 20px !important;
    }

    article.row .counters{
        margin-left: 10px;
    }

    article.mid.row img{
        width: 270px !important;
    }

    .author article.row .counters {
        margin:10px 0 0 0 !important;
        float:left;

    }

    .main-404{
        padding: 40px 160px !important;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    
    header.doodle .container{
        height: 370px;
    }

    header.doodle .container h1 .logo{
        top: 34px;
        width: 750px;
        height: 212px;
    }
    
    header.doodle .container .sepheader{
        top: 235px;
    }

    #menu-button{
        display: inline-block !important;
        color:#222;
        margin: 30px 0;
        float:left !important;
    }

    #menu-button i{
        font-size: 28px;
        margin-right: 10px;
    }

    #menu-button:hover i{
        color:#BE1622;
    }
    
    #mira-peru #header-menu-button{
        margin-top: -10px !important;
    }
    
    #mira-peru .header-menu{
        margin-right: 0px !important;
    }

    #header-menu-button{
        display: inline-block !important;
        color:#fff;
        float:right !important;
        padding: 20px 30px !important;
        margin: -20px -30px !important;
    }

    #header-menu-button i{
        font-size: 14px;
    }

    #header-menu-button:hover i{
        color:#222;
    }

    header nav ul.header-menu{
        display: none;
        position: absolute;
        top:30px;
        right:10px;
        z-index: 10000;
        width:200px;
        background: #fff;

        box-shadow:0 0 8px 0 rgba(0,0,0,0.2);
        -webkit-box-shadow:0 0 8px 0 rgba(0,0,0,0.2);
        -moz-box-shadow:0 0 8px 0 rgba(0,0,0,0.2);
    }

    header ul.header-menu li:hover>a,
    header ul.header-menu li:focus>a{
        color: #222 !important;
    }

    header ul.header-menu li:hover,
    header ul.header-menu li:focus{
        background:rgba(0,0,0,0.1) !important;
    }

    header nav ul.header-menu li{
        display: block !important;
    }

    header nav ul.header-menu ul{
        width:200px;
    }

    header nav ul.header-menu>li{
        color:#aaa !important;
        padding: 10px 20px !important;
        margin-left: 0 !important;
    }

    header>.container>nav>ul>li:not(.dropdown-submenu):after{
        content:' ' !important;
    }

    header nav ul.header-menu .dropdown-submenu {
        position: relative;
    }

    header nav ul.header-menu .dropdown-submenu:after {
        position: absolute;
        top:30%;
        right:10px;
        font-family: FontAwesome !important;
        color:#aaa;
        font-size: 11px;
        content: '\f0d7' !important;
    }

    header nav ul.header-menu .dropdown-submenu > .dropdown-menu:before {
        content: none !important;
    }

    header nav ul.header-menu .dropdown-submenu > .dropdown-menu {
        position: absolute;
        top: 0px !important;
        left: -95% !important;
    }

    nav{
        position: relative;
    }

    nav .form-search{
        width:80% !important;
        float: right;
        display: inline;
    }

    nav .form-search .col-md-3{
        width:100% !important;
        margin-left: 0px !important;
    }

    .menu{
        display: none;
        position: absolute;
        top:40px;
        left:0;
        z-index: 10000;
        width:200px;

        box-shadow:0 0 8px 0 rgba(0,0,0,0.2);
        -webkit-box-shadow:0 0 8px 0 rgba(0,0,0,0.2);
        -moz-box-shadow:0 0 8px 0 rgba(0,0,0,0.2);
    }

    .menu li{
        display: block !important;
        width:200px;
    }

    .menu>li{
        padding: 15px !important;
    }

    .menu .dropdown-submenu:after {
        position: absolute;
        top:30%;
        right:10px;
        font-family: FontAwesome;
        color:#aaa;
        font-size: 11px;
        content: '\f0d7';
    }

    .menu .dropdown-submenu > .dropdown-menu:before {
        content: none !important;
    }

    .menu .dropdown-submenu > .dropdown-menu {
        position: absolute;
        top: 0 !important;
        left: 99% !important;
    }

    aside div[class*='col-']{
        padding-right: 10px;
    }

    aside div[class*='col-']:nth-child(2n){
        padding-left: 10px;
        padding-right: 0;
    }

    article.big h1{
        font-size: 30px !important;
        line-height: 32px !important;
    }

    article.big .text{
        font-size: 12px !important;
    }

    article.big .details{
        font-size: 10px !important;
    }

    article.big .counters li,
    article.mid .counters li,
    .popular .counters li{
        font-size: 10px !important;
    }

    article.mid .counters li{
        margin-right: 10px;
    }

    .categoria article.mid{
        height: 330px;
    }

    article.mid .tags{
        font-size: 9px !important;
        line-height: 9px !important;
    }

    article.mid h1{
        font-size: 16px !important;
    }

    article.mid .details,
    article.mid .details a,
    article.small .details,
    article.small .details a{
          font-size: 14px !important;
      margin-top: 6px !important;
      line-height: 150%;
    }

    article.mid .text{
        font-size: 14px !important;
        line-height: 180% !important;
        margin-bottom: 0;
        margin-top: 10px;
    }

    article.mid.row img{
        width: 270px !important;
    }

    .panel-body .small .details{
        margin:0 0 4px !important;
    }

    .list-page article.mid.row .counters li{
        font-size: 11px !important;
    }

    .list-page article.mid.row .tags{
        font-size: 10px !important;
        line-height: 20px !important;
    }

    .list-page article.mid.row h1{
        font-size: 22px !important;
    }

    .list-page article.mid.row .details,
    .list-page article.mid.row .details a{
        font-size: 10px !important;
        margin-top: 0 !important;
    }

    .list-page article.mid.row .text{
        font-size: 13px !important;
        line-height: 17px !important;
        margin-bottom: 20px;
    }

    .author article.mid.row .counters li{
        font-size: 10px !important;
        margin-right: 3px !important;
    }

    .author article.mid.row h1{
        font-size: 20px !important;
    }

    .author article.mid.row .details,
    .author article.mid.row .details a{
        font-size: 10px !important;
        margin-top: 0 !important;
    }

    .author article.mid.row .text{
        font-size: 14px !important;
        line-height: 150% !important;
        margin-bottom: 20px;
    }


    .author article.row .tags {
        margin: 0px 0 5px !important;
    }

    article.small h1{
        font-size: 16px !important;
    }

    article.small img{
        margin-right: 15px !important;
    }


    .post-slider .controls .prev,
    .post-slider .controls .next{
        background-color: rgba(241,40,78,0.6) !important;
    }

    .post-slider .controls .prev i,
    .post-slider .controls .next i{
        opacity:1 !important;
    }

    footer .col-md-3 {
        margin: 0 0 20px 0 !important;
    }

    .main-404{
        padding:40px 0 !important;
    }

    ul.statistic{
        border-bottom:none !important;
    }

    .post-page article.post.fullwidth .post-nav{
        margin-top: 14px !important;
    }

    .post-page article.post .details{
        margin-top: 0 !important;
    }

    .post-page article.post h1{
        font-size: 20px !important;
    }
    
    .galeria.mid{
        height: 260px;
    }

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px), (max-device-width: 767px){
    
    header.doodle .container{
        height: 340px;
    }

    header.doodle .container h1 .logo{
        top: 34px;
        width: 623px;
        height: 176px;
    }
    
    header.doodle .container .sepheader{
        top: 200px;
    }
    
    #mira-peru header{
        height: 330px;
    }
    
    #mira-peru header .datos-foto{
        margin-top: 190px;
    }

    #menu-button{
        display: inline-block !important;
        color:#222;
        margin: 30px 0;
        font-size: 20px;
        line-height: 20px;
        font-family: "Montserrat";
        font-weight: 700;
        float:left !important;
    }

    #menu-button i{
        font-size: 28px;
        margin-right: 10px;
    }

    #menu-button:hover{
        color:#222;
    }
    #menu-button:hover i{
        color:#BE1622;
    }
    
    #mira-peru #header-menu-button{
        padding: 13px 20px;
        float: right !important;
    }
    
    #mira-peru .header-menu{
        margin-right: 0px !important;
    }

    #header-menu-button{
        display: inline-block !important;
        color:#fff;
        margin: 0  -40px 0 0  !important;
        float:left !important;
    }

    #header-menu-button i{
        font-size: 14px;
        margin-right: 10px;
    }

    #header-menu-button:hover i{
        color:#222;
    }

    header nav ul.header-menu{
        display: none;
        position: absolute;
        top:30px;
        right:-10px;
        z-index: 1000;
        width:200px;
        background: #fff;

        box-shadow:0 0 8px 0 rgba(0,0,0,0.2);
        -webkit-box-shadow:0 0 8px 0 rgba(0,0,0,0.2);
        -moz-box-shadow:0 0 8px 0 rgba(0,0,0,0.2);
    }

    header ul.header-menu li:hover>a{
        color: #222 !important;
    }

    header ul.header-menu li:hover{
        background:rgba(0,0,0,0.1) !important;
    }

    header nav ul.header-menu li{
        display: block !important;
    }

    header nav ul.header-menu ul{
        width:200px;
    }

    header nav ul.header-menu>li{
        color:#aaa !important;
        padding: 10px 20px !important;
        margin-left: 0 !important;
    }

    header>.container>nav>ul>li:after{
        content: none !important;
    }

    header nav ul.header-menu .dropdown-submenu {
        position: relative;
    }

    header nav ul.header-menu .dropdown-submenu > a:after {
        position: absolute;
        top:30%;
        right:10px;
        font-family: FontAwesome;
        color:#aaa;
        font-size: 11px;
        content: '\f0d7';
    }

    header nav ul.header-menu .dropdown-submenu > .dropdown-menu:before {
        content: none !important;
    }

    header nav ul.header-menu .dropdown-submenu > .dropdown-menu {
        position: absolute;
        top: 0px !important;
        left: -95% !important;
    }

    nav{
        position: relative;
    }

    nav .form-search{
        width:80% !important;
        float: right;
        display: inline;
    }

    nav .form-search .col-md-3{
        width:100% !important;
        margin-left: 0px !important;
    }

    .menu{
        display: none;
        position: absolute;
        top:30px;
        left:0;
        z-index: 10000;
        width:200px;

        box-shadow:0 0 8px 0 rgba(0,0,0,0.2);
        -webkit-box-shadow:0 0 8px 0 rgba(0,0,0,0.2);
        -moz-box-shadow:0 0 8px 0 rgba(0,0,0,0.2);
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }

    .menu>li{
        display: block !important;
        width:200px;

        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }

    .menu>li{
        padding: 15px !important;
    }

    .menu .dropdown-submenu > a:after {
        position: absolute;
        top:30%;
        right:10px;
        font-family: FontAwesome;
        color:#aaa;
        font-size: 11px;
        content: '\f0d7';
    }

    .menu .dropdown-submenu > .dropdown-menu:before {
        content: none !important;
    }

    .menu .dropdown-submenu > .dropdown-menu {
        position: absolute;
        top: 0 !important;
        left: 99% !important;
    }

    .post-slider.col-md-12 .info{
        bottom: 20% !important;
    }

    .post-slider.col-md-12 article h1{
        font-size: 24px !important;
        line-height: 24px !important;
    }

    .post-slider.col-md-12 article .text{
        display: none;
    }

    article.mid img,
    article.big img,
    .popular article img{
        width:100%;
    }

    article.mid.row img{
        width: 270px !important;
    }

    article, .post-slider{
        margin-bottom: 20px;
    }

    article.col:last-child{
        margin-bottom: 20px !important;
    }

    .row-fluid{
        margin-bottom: 0 !important;
    }

    article.small{
        overflow: hidden;
    }

    .panel-body .small .details{
        margin:0 0 4px !important;
    }

    footer .col-md-3{
        margin-bottom: 20px;
    }

    .list-page article.row .info{
        overflow: visible !important;
    }

    .list-page article.row .text{
        float:none !important;
        margin-top: 5px !important;
    }

    .list-page article.row .details{
        float:none;
    }

    .list-page article.row .tags{
        float:none;
        margin-top: 5px;
    }

    .main-404{
        padding:40px 0 !important;
        text-align: center !important;
    }

    .main-404 img{
        float:none !important;
    }

    .main-404 .info-404{
        padding-top: 30px !important;
        padding-left: 0 !important;
        text-align: center;
    }

    .post-page article.post .tags{
        padding: 20px 0 !important;
        margin: 0 !important;
    }

    .post-page article.post .post-nav{
        display: block !important;
    }

    .breaking{
        margin-bottom: 20px;
    }

    form [class*="span"]{
        margin-bottom: 20px !important;
    }

    .row.statistic{
        margin-bottom: 0;
    }

}

/* Landscape phones and down */
@media (max-width: 639px),(max-device-width: 639px) {
    
    header.doodle .container{
        height: 300px;
    }

    header.doodle .container h1 .logo{
        top: 34px;
        width: 470px;
        height: 133px;
    }
    
    header.doodle .container .sepheader{
        top: 160px;
    }
    
    #mira-peru header{
        height: 330px;
    }
    
    #mira-peru header .datos-foto {
      margin-top: 197px;
    }
    
    #mira-peru header .datos-foto .container .logo-mira-peru{
        margin-top: 10px;
    }
    
    #mira-peru header .datos-foto .container .logo-mira-peru img{
        height: 40px;
    }

    #header-menu-button{
        display: inline-block !important;
        color:#fff;
        margin: 0  -40px 0 0  !important;
        float:left !important;
    }

    #header-menu-button i{
        font-size: 14px;
        margin-right: 10px;
    }

    #header-menu-button:hover i{
        color:#222;
    }
    
    #mira-peru #header-menu-button{
        padding: 13px 20px;
        float: right !important;
    }
    
    #mira-peru .header-menu{
        margin-right: 0px !important;
    }

    header nav ul.header-menu{
        display: none;
        position: absolute;
        top:30px;
        right: -10px;
        z-index: 10000;
        width:220px;
        background: #fff;

        box-shadow:0 0 8px 0 rgba(0,0,0,0.2);
        -webkit-box-shadow:0 0 8px 0 rgba(0,0,0,0.2);
        -moz-box-shadow:0 0 8px 0 rgba(0,0,0,0.2);
    }

    header ul.header-menu li:hover>a,
    header ul.header-menu li.hover_effect>a{
        color: #222 !important;
    }

    header ul.header-menu li:hover,
    header ul.header-menu li.hover_effect{
        background:rgba(0,0,0,0.1) !important;
    }

    header nav ul.header-menu li{
        display: block !important;
    }

    header nav ul.header-menu ul{
        width:190px;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        margin-top: 10px;
        margin-bottom: 10px;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }

    header nav ul.header-menu>li{
        color:#222 !important;
        padding: 10px 20px !important;
        margin-left: 0 !important;
    }

    header>.container>nav>ul>li:after{
        content: none !important;
    }

    header nav ul.header-menu .dropdown-submenu {
        position: relative;
    }

    header nav ul.header-menu .dropdown-submenu > a:after {
        position: absolute;
        top:30%;
        right:10px;
        font-family: FontAwesome;
        color:#aaa;
        font-size: 11px;
        content: '\f0d7';
    }

    header nav ul.header-menu .dropdown-submenu > .dropdown-menu:before {
        content: none !important;
    }

    header nav ul.header-menu .dropdown-submenu > .dropdown-menu{
        position: relative !important;
        top: 0 !important;
        left: -20px !important;
        display: block;
        box-shadow:none;
        -webkit-box-shadow:none;
        -moz-box-shadow:none;
    }

    .menu .dropdown-submenu > .dropdown-menu {
        position: relative !important;
        top: 15px !important;
        left: -15px !important;
        margin-bottom: 30px;
        width: 100%;
        display: block;
        box-shadow:none;
        -webkit-box-shadow:none;
        -moz-box-shadow:none;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }

    .menu .dropdown-submenu > .dropdown-menu > .dropdown-submenu > .dropdown-menu{
        position: relative !important;
        top: 0px !important;
        left: -20px !important;
        margin-bottom: 0px;
        display: block;
        box-shadow:none;
        -webkit-box-shadow:none;
        -moz-box-shadow:none;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }

    header nav ul.header-menu .dropdown-submenu > .dropdown-menu li {
        padding-left: 20px;
        padding-right: 10px;
    }

    .menu .dropdown-submenu > .dropdown-menu li {
        padding-left: 20px;
        padding-right: 10px;
    }

    .slider-home article .info h1{
        font-size: 26px !important;
    }

    .col-md-9 .post-slider.col-md-12 .info{
        bottom: 5% !important;
    }

    .col-md-12 .post-slider.col-md-12 .info{
        bottom: 5% !important;
    }

    .col-md-12 .post-slider.col-md-12 h1{
        margin-bottom: 5px !important;
        font-size: 20px !important;
        line-height: 20px !important;
    }

    article.big .text{
        display:none;
    }
    article.big h1{
        font-size: 24px !important;
        line-height: 24px !important;
    }

    .list-page article.row img{
        width:100% !important;
    }

    .list-page article.row .info{
        margin-top: 10px;
        float: left !important;
    }

    ul.statistic li i{
        font-size: 24px !important;
    }

    ul.statistic li h3{
        font-size: 16px !important;
    }

    ul.statistic li p{
        font-size: 12px !important;
    }

    article.mid.row img,
    article.mid.row .img{
        width:100% !important;
    }

    .author article .info{
        float:left !important;
        margin-top: 10px !important;
    }

    .member img{
        margin-bottom: 20px !important;
    }

    .post-page .comments li>ul {
        margin-left: 20px !important;
    }

    .post-page article.post .counters{
        float: left !important;
        width:100%;
        margin-top: 10px !important;
        margin-left: 0 !important;
    }
}

@media (max-width: 479px),(max-device-width: 479px) {
    
    header.doodle .container{
        height: 245px;
    }

    header.doodle .container h1 .logo-xs{
        top: 34px;
        width: 311px;
        height: 88px;
    }
    
    header.doodle .container .sepheader{
        top: 115px;
    }   
    
    #mira-peru header{
        height: 330px;
    }
    
    #mira-peru header .datos-foto {
      margin-top: 200px;
    }
    
    #mira-peru header .datos-foto .container .datos {
        display: none;
    }
    
    #mira-peru header .datos-foto .container .logo-mira-peru{
        text-align: center;
        width: 100%;
    }
    
    #mira-peru header .datos-foto .container .logo-mira-peru img{
        height: 40px;
    }

    header .container h1 .logo{
        width: 250px;
        height: 60px;
        background-size: 100% 100%;
        top: 65px;
    }

    #header-menu-button{
        display: inline-block !important;
        color:#fff;
        margin: 0  -40px 0 0  !important;
        float:left !important;
    }

    #header-menu-button i{
        font-size: 14px;
        margin-right: 10px;
    }

    #header-menu-button:hover i{
        color:#222;
    }

    header nav ul.header-menu{
        display: none;
        position: absolute;
        top:30px;
        right: -10px;
        z-index: 10000;
        width:220px;
        background: #fff;

        box-shadow:0 0 8px 0 rgba(0,0,0,0.2);
        -webkit-box-shadow:0 0 8px 0 rgba(0,0,0,0.2);
        -moz-box-shadow:0 0 8px 0 rgba(0,0,0,0.2);
    }

    header ul.header-menu li:hover>a,
    header ul.header-menu li.hover_effect>a{
        color: #222 !important;
    }

    header ul.header-menu li:hover,
    header ul.header-menu li.hover_effect{
        background:rgba(0,0,0,0.1) !important;
    }

    header nav ul.header-menu li{
        display: block !important;
    }

    header nav ul.header-menu ul{
        width:190px;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    header nav ul.header-menu>li{
        color:#222 !important;
        padding: 10px 20px !important;
        margin-left: 0 !important;
    }

    header>.container>nav>ul>li:after{
        content: none !important;
    }

    header nav ul.header-menu .dropdown-submenu {
        position: relative;
    }

    header nav ul.header-menu .dropdown-submenu > a:after {
        position: absolute;
        top:30%;
        right:10px;
        font-family: FontAwesome;
        color:#aaa;
        font-size: 11px;
        content: '\f0d7';
    }

    header nav ul.header-menu .dropdown-submenu > .dropdown-menu:before {
        content: none !important;
    }

    header nav ul.header-menu .dropdown-submenu > .dropdown-menu {
        position: relative !important;
        top: 0 !important;
        left: -20px !important;
        display: block;
        box-shadow:none;
        -webkit-box-shadow:none;
        -moz-box-shadow:none;
    }

    header nav ul.header-menu .dropdown-submenu > .dropdown-menu li {
        padding-left: 20px;
        padding-right: 10px;
    }

    nav .form-search{
        width:70% !important;
        float: right;
        display: inline;
    }

    nav .form-search {
        margin: 0 0 0 10px !important;
    }

    .slider-home article .info h1{
        font-size: 20px !important;
        margin: 20px !important;
    }

    .col-md-9 .post-slider.col-md-12 .info{
        bottom: 10% !important;
    }

    .col-md-12 .post-slider.col-md-12 .info{
        bottom: 5% !important;
    }

    .col-md-12 .post-slider.col-md-12 h1{
        margin-bottom: 5px !important;
        font-size: 20px !important;
        line-height: 20px !important;
    }

    article.big .text,
    article.big .details,
    article.big .counters,
    article.big .tags{
        display:none;
    }
    article.big h1{
        font-size: 20px !important;
        line-height: 20px !important;
        margin:10px 0 !important;
    }

    article.small img{
        margin-right: 20px !important;
    }

    .list-page article.row .counters{
        margin-left: 0 !important;
        margin-top: 15px !important;
        width: 100%;
    }


    ul.statistic li{
        width:100% !important;
    }

    article.mid.row img,
    article.mid.row .img{
        width:100% !important;
    }

    .author article .info{
        float:left !important;
        margin-top: 10px !important;
    }

    .author article.row .counters{
        margin-left: 0px !important;
        margin-top: 15px !important;
        width: 100%;
    }

    .member img{
        margin-bottom: 20px !important;
    }

    .panel-heading a h1{
        font-size: 10px !important;
        line-height: 12px !important;
        padding: 14px 5px 0  !important;
    }

    .archive article .col{
        margin-right: 15px !important;
        margin-bottom: -10px !important;
    }

    footer .social li{
        margin-bottom: 2px;
    }

    footer .rights p{
        float:left !important;
        width:100%;
    }

    .post-page article.post .counters{
        float: left !important;
        width:100%;
        margin-top: 10px !important;
        margin-left: 0 !important;
    }

    .post-page .comments li>ul {
        margin-left: 20px !important;
    }

    .post-page article.post .tags a{
        display: inline-block !important;
        margin-bottom: 1px !important;
    }

    .post-page article.member .tags{
        float:none !important;
    }

    .comments article.mid.row img{
        margin-right: 15px !important;
    }
}